<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Fitness Club</title>
</head>
<body>

  <div id="container">
    <!-- a section for the headings of the webpage and logo -->
    <header>
      <a href="index.html"><img src="images/ffc_logo.png" alt="Fitness Club Logo" height="275" width="845"></a>
    </header>

    <!-- navigation section of the webpage
    use this area to add links to other pages-->
    <nav>
      <a href="index.html">Home</a> &nbsp; &nbsp;
      <a href="about.html">About Us</a> &nbsp; &nbsp;
      <a href="class.html">Classes</a> &nbsp; &nbsp;
      <a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;
      <a href="contact.html">Contact Us</a>
    </nav>

    <!--  the main content of the web page-->
    <main>

    </main>

    <!-- footer section for the copyright and links to social medias -->
    <footer>
      <!-- &#169; copyright symbol html entity number -->
      &copy; Copyright 2020. All Rights Reserved. <br>
      <a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
    </footer>
  </div>

</body>
</html>
